body {
  background-color: #fcf6e9;
  padding: 20px;
  margin: 0;
}
h1,
h2,
ul,
li {
  font-family: "Montserrat Alternates", sans-serif;
}
p {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  padding-left: 25px;
}
.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #e8d9b8;
  padding: 0;
  border-radius: 2px;
  padding-left: 25px;
}
ul.header li a {
  color: #012e2bda;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: solid 2px #4d88ac00;
}
.active {
}
ul.header li a:hover {
  border-bottom: solid 2px #4d88ac;
}
.content {
  background-color: #fcf6e9;
  padding: 20px;
  border-radius: 2px;
  width: 100%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.picture {
  size: 50vw;
}
.corvette {
  display: flex;
  justify-content: center;
}
img {
  width: 66%;
}
.Camaro {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Camaro img {
  width: 66%;
  box-shadow: 20px, #399b81;
}
